<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

    <bean name="cuba_DataManager" class="com.haulmont.addons.cuba.entity.projections.ProjectionSupportDataManagerBean"/>

    <!-- Annotation-based beans -->
    <context:component-scan base-package="com.haulmont.addons.cuba.entity.projections"/>

    <bean name="entity_projections_core_ProjectionsConfiguration"
          class="com.haulmont.addons.cuba.entity.projections.scan.ProjectionsConfigurationBean">
        <constructor-arg>
            <map/>
        </constructor-arg>
    </bean>

    <bean name="cuba_EntityStates" class="com.haulmont.addons.cuba.entity.projections.global.ProjectionSupportEntityStates"/>

    <bean name="cuba_MetadataLoader" class="com.haulmont.addons.cuba.entity.projections.scan.ProjectionSupportMetadataLoader" scope="prototype"/>

</beans>
