<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="playground"
                      transaction-type="RESOURCE_LOCAL">
        <class>com.company.playground.entity.SampleEntity</class>
        <class>com.company.playground.entity.ExtendedUser</class>
        <class>com.company.playground.entity.EntityParameter</class>
    </persistence-unit>
</persistence>
