<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:projections="http://www.cuba-platform.org/schema/data/projections"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
        http://www.cuba-platform.org/schema/data/projections http://www.cuba-platform.org/schema/cuba-projections.xsd">

    <import resource="spring-context.xml"/>

    <bean name="cuba_MetadataLoader" class="com.haulmont.addons.cuba.entity.projections.scan.ProjectionSupportMetadataLoader" scope="prototype"/>

    <bean name="cuba_DataManager" class="com.haulmont.addons.cuba.entity.projections.ProjectionSupportDataManagerBean"/>

    <bean name="cuba_EntityStates" class="com.haulmont.addons.cuba.entity.projections.global.ProjectionSupportEntityStates"/>

    <!-- Annotation-based beans -->
    <context:component-scan base-package="com.haulmont.addons.cuba.entity.projections"/>

    <projections:projections base-packages="com.haulmont.addons.cuba.entity.projections.test.app.views.sample"/>

</beans>
